---
layout: default
title: "Startseite"
---

<section>
    <h2>Neueste Touren</h2>
    <ul>
        {% for post in site.posts %}
            <li>
                <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
                <p>{{ post.excerpt }}</p>
            </li>
        {% endfor %}
    </ul>
</section>

<section>
    <h2>Galerien</h2>
    <ul>
        {% assign gallery_pages = site.pages | where: "gallery", "tag1" %}
        {% assign gallery_pages = gallery_pages | concat: site.pages | where: "gallery", "tag2" %}
        {% assign gallery_pages = gallery_pages | concat: site.pages | where: "gallery", "tag3" %}
        
        {% for page in gallery_pages %}
            <li>
                <a href="{{ page.url | relative_url }}">{{ page.title }}</a>
                <p>{{ page.excerpt }}</p>
            </li>
        {% endfor %}
    </ul>
</section>
